* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .header {
    background-color: #96CEB4;
 }

.main {
    background-color: #F0EDDC;
}

.titulo {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: 500;
    color: #D9534F;
}

.texto {
    text-align: center;
    color: #666666;
    font-size: 1.5rem;
    line-height: 30px;
}

.textoGrande {
    text-align: center;
    color: #666666;
    line-height: 30px;
    margin: 10rem;
}

/* MENU - NAV */
.nav__links {
    width: 80%;
    margin: auto;
    text-decoration: none;
}

/* MENU - LISTAS */
.nav__links li {
    display: inline-block;
    padding: 2rem;
}

/* LISTAS */
.nav__links li a {
    color: #FFEEAD;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

/* MAYUSCULAS EN MENU */
.nav__links--activo:hover {
    text-transform: uppercase;
    color: #D9534F;
}

.table {
    width: 80%;
    text-align: center;
    margin: auto;
    border: double;
    background-color: #FFEEAD;
}

.btn-dark {
    color: #FFEEAD;
}

.form {
    width: 50%;
    margin: auto;
}

label {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.form-input {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #FFEEAD;
    border-top: double;
    padding: 0.5rem 0.5rem;
}
    
.form-sub {
    width: 50%;
    margin-left: 12rem;
    align-items: center;
}